.app{
    max-width: 330px;
    margin: 5px auto;
    box-shadow: 0 0 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: aliceblue;
}

h1{
    text-align: center;

}

body{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.addNewItem{
    display: flex;
    align-items: center;
}